body.no-scroll {
  overflow: hidden;
}

.users{
   padding: 200px 40px 60px;
  min-height: 60vh;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #f3f5f4
}

.user__title {
  text-align: center;
  height: 30px;
}

.container {
  flex-wrap:wrap; 
  min-width: 1460px; 
  min-height: 700px; 
  margin-top: 25px;
  margin-bottom: 150px;
  justify-content: space-around;
  gap: 50px;
}


.error {
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 558px;
  left: 50px;
  height: 105px;
  font-size: 26px;
  font-weight: 800;
  background-color: #B15757;
  color: var(--prime-color);
  border-radius: 20px;
  

}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  min-width: 480px;
  min-height: 660px;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000000;
}
